<div class="container-fluid">
  <div class="row justify-content-md-center align-self-center">
    <md-card class="demo-card-blue mat-card-flat">
      <md-card-title>Login Form</md-card-title>
      <md-input-container>
        <input mdInput placeholder="Username" [(ngModel)]="username">
      </md-input-container>
      <md-input-container>
        <input mdInput placeholder="Password" type="password" [(ngModel)]="password">
      </md-input-container>
      <md-card-actions>
        <button md-button (click)="login()">Login</button>
      </md-card-actions>
    </md-card>
  </div>
</div>
