<br>
<div class="container-fluid">
  <md-card>
    <md-chip-list>
      <md-chip>One fish</md-chip>
      <md-chip>Two fish</md-chip>
      <md-chip color="primary" selected="true">Primary fish</md-chip>
      <md-chip color="accent" selected="true">Accent fish</md-chip>
    </md-chip-list>
    <div class="row">
      <div class="col-3">
        <md-input-container>
          <input mdInput placeholder="Username" id="username">
        </md-input-container>
      </div>
      <div class="col-3">
        <md-input-container>
          <input mdInput placeholder="Password" id="password">
        </md-input-container>
      </div>
    </div>
    <div class="row">
      <button md-button (click)="tes()">Click me!</button>
    </div>
  </md-card>
  <br>
  <md-card>
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>No</th>
          <th>Username</th>
          <th>Password</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users; let i = index">
          <td>{{ i }}</td>
          <td>{{ user.username }}</td>
          <td>{{ user.password }}</td>
        </tr>
      </tbody>
    </table>
  </md-card>
</div>
