<br>
<div class="container-fluid">
  <ngb-accordion #acc="ngbAccordion" activeIds="formInput">
    <ngb-panel title="Form Input" id="formInput">
      <ng-template ngbPanelContent>
        <md-card>
          <form>
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" class="form-control" id="username" placeholder="Enter username" required>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" placeholder="Enter password" required>
            </div>
            <div class="form-group">
              <label for="email">Email address</label>
              <input type="email" class="form-control" id="email" placeholder="Enter email" required>
            </div>
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" id="name" placeholder="Enter name" required>
            </div>
            <div class="form-group">
              <label for="selectRole">Role</label>
              <select class="form-control" id="selectRole">
                <option value="" selected disabled>Select Role</option>
                <option value="1">Admin</option>
                <option value="2">User</option>
              </select>
            </div>
            <button type="submit" class="btn btn-primary" (click)="insertData()">Submit</button>
          </form>
        </md-card>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>


  <br>
  <md-card>
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id="dt" class="table table-bordered" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>No</th>
          <th>Username</th>
          <th>Password</th>
          <th>Email</th>
          <th>Name</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ user.username }}</td>
          <td>{{ user.password }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.nama }}</td>
          <td align='center'>
            <a md-mini-fab routerLink=".">
              <md-icon>assignment</md-icon>
            </a>
          </td>
          <td align='center'>
            <a md-mini-fab (click)="deleteData(user.username)">
              <md-icon>delete</md-icon>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </md-card>
</div>
