<br>
<div class="container-fluid">
  <md-card>
    <md-chip-list>
      <md-chip>One fish</md-chip>
      <md-chip>Two fish</md-chip>
      <md-chip color="primary" selected="true">Primary fish</md-chip>
      <md-chip color="accent" selected="true">Accent fish</md-chip>
    </md-chip-list>
    <div class="row">
      <div class="col-3">
        <md-input-container>
          <input mdInput placeholder="Username" id="username">
        </md-input-container>
      </div>
      <div class="col-3">
        <md-input-container>
          <input mdInput placeholder="Password" id="password">
        </md-input-container>
      </div>
    </div>
    <div class="row">
      <button md-button (click)="tes()">Click me!</button>
    </div>
  </md-card>
  <br>
  <md-card>
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id="dt" class="table table-bordered" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>No</th>
          <th>Username</th>
          <th>Password</th>
          <th>Email</th>
          <th>Name</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ user.username }}</td>
          <td>{{ user.password }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.nama }}</td>
          <td align='center'>
            <a md-mini-fab routerLink=".">
              <md-icon>assignment</md-icon>
            </a>
          </td>
          <td align='center'>
            <a md-mini-fab (click)="deleteData(user.username)">
              <md-icon>delete</md-icon>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </md-card>
</div>

<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" (click)="close()">&times;</button>
      <h4 class="modal-title">{{title || 'Confirm'}}</h4>
    </div>
    <div class="modal-body">
      <p>{{message || 'Are you sure?'}}</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="confirm()">OK</button>
      <button type="button" class="btn btn-default" (click)="close()">Cancel</button>
    </div>
  </div>
</div>`
