<md-sidenav-container fullscreen class="sidenav-container">
  <md-sidenav mode="side" opened="true">
    <md-toolbar color="primary">
      <span>Bengkel</span>
    </md-toolbar>
    <md-list dense>
      <a md-list-item routerLink="Home" routerLinkActive="active-link">Home</a>
      <md-divider></md-divider>
      <a md-list-item routerLink="ManageUser" routerLinkActive="active-link">Manage User</a>
      <md-divider></md-divider>
      <a md-list-item routerLink="/Login">Logout</a>
    </md-list>

  </md-sidenav>
  <div class="my-content">
    <router-outlet></router-outlet>
  </div>
</md-sidenav-container>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

